h1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 2em;
  text-align: center;
  color: #ffea00;

}

body {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

  body {
    background-color: lightblue;
  }

html{
  background-color: white;
}
body{
  background-color: white;
}

.Indexnavigation{
  background-color: #ffea00;
  overflow:hidden;
}

.Indexnavigation a {
  width:500px;
  float:left;
  color:#00A9D8;
  text-align: center;
  padding-left: 18px;
  text-decoration: none;
  font-size: 1em;
}

@media only screen and (min-width: 700px) {
  body {
    background-color: lightblue;
  }

html{
  background-color: white;
}
body{
  background-color: white;
}

.Indexnavigation{
  height:100%;
  width:160px;
  position:fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #0D9EDF;
  overflow-x: hidden;
  padding-top: 30px;
  color:white;
}

.Indexnavigation a{
padding: 6px 10px 6px 18px;
text-decoration: none;
font-size: 25px;
color:white;
display: block;
}

.Indexnavigation a:hover{
  color:white;
}

#images{
  display: flex;
}

div.HomePageImages:hover{
  border:1px solid #9CB380;
}

div.HomePageImages{
  margin:10px;
  border:1px solid #9CB380;
  float:left;
  width: 200px;
}

div.HomePageImages img{
  height: auto;
  width: 500px;
  height: 400px;
}

div.HomePageImages description{
  padding:20px;
  text-align: center;
}

div.HomePageImages target {

}
}
