h1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 2em;
  text-align: center;
  color: #ffea00;

}


body {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;

}

  body {
    background-color: lightblue;
  }

html{
  background-color: #9CB380;
}
body{
  background-color: #9CB380;
}

.Indexnavigation{
  background-color: #ffea00;
  overflow:hidden;
}

.Indexnavigation a {
  width:500px;
  float:left;
  color:#00A9D8;
  text-align: center;
  padding-left: 18px;
  text-decoration: none;
  font-size: 1em;
}

@media only screen and (max-width: 500px) {
  .responsive{
    width: 100%;
  }

  .clearfix:after{
    content:"";
    display: table;
    clear: both;
  }
  }

.responsive{
  width: 50%;
  margin: 10px 0;
}

@media only screen and (min-width: 700px) {
  body {
    background-color: #9CB380;
  }

.responsive{
  width: 50%;
  margin: 10px 0;
}

html{
  background-color: #9CB380;
}
body{
  background-color: #9CB380;
}

.Indexnavigation{
  height:100%;
  width:160px;
  position:fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #0D9EDF;
  overflow-x: hidden;
  padding-top: 30px;
  color:white;
}

.Indexnavigation a{
padding: 6px 10px 6px 18px;
text-decoration: none;
font-size: 25px;
color:white;
display: block;
}

.Indexnavigation a:hover{
  color:white;
}

div.images {
  border: 1px solid #9CB380;
}
 div.images:hover{
   border: 1px solid #9CB380;
 }

div.images img{
  heigh:250px;
  width:250px;
}

div.desc{
  padding:20px;
  text-align: center;

}

* {
  box-sizing: border-box;
}

.responsive{
  padding: 0 10px;
  float: left;
  width: 25%;
}



}
