h1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 2em;
  text-align: center;
  color: #ffea00;
}

body {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}


html{
  background-color: #9CB380;
}


  h1{
    padding-bottom: 50px;
    padding-top: 25px;
}

.Jewelrynavigation{
  background-color: #ffea00;
  overflow:hidden;
}

.Jewelrynavigation a {
  width:500px;
  float:left;
  color:#00A9D8;
  text-align: center;
  padding-left: 18px;
  text-decoration: none;
  font-size: 1em;
}
.earringsflat1{
  max-width: 100%
  height:auto;
}

.earringsround1{
  flex:1.3344;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
html{
background-color: #9CB380;
}

.Jewelrynavigation{
  height:100%;
  width:160px;
  position:fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #0D9EDF;
  overflow-x: hidden;
  padding-top: 30px;
}

h1{
  padding-bottom: 50px;
  padding-top: 25px;
}

.Jewelrynavigation a {
padding: 6px 10px 6px 18px;
text-decoration: none;
font-size: 25px;
color:white;
display: block;
}

.Jewelrynavigation a:hover{
  color:white;
}

}

div.images{
  border:1px solid #9CB380;
}

div.images:hover{
  border: 1px solid #9CB380;
}

div.images img{
  heigh:auto;
  width:100%;
  border:solid;
  border-color: #FFFF66;
}

div.desc{
  padding:20px;
  text-align: center;
   border:solid;
   border-color: #FFFF66;

}

* {
  box-sizing: border-box;
}

.responsive{
  padding: 0 10px;
  padding-top: 50px;
  float: left;
  width: 25%;



}
