h1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 2em;
  text-align: center;
  color: #ffea00;

}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

html{
  background-color: white;
}
body{
  background-color: white;
}

.Jewelrynavigation{
  background-color: #ffea00;
  overflow:hidden;
}

.Jewelrynavigation a {
  width:500px;
  float:left;
  color:#00A9D8;
  text-align: center;
  padding-left: 100px 16px;
  text-decoration: none;
  font-size: 1em;
}
.earringsflat1{
  max-width: 100%
  height:auto;
}

.earringsround1{
  flex:1.3344;
  padding-bottom: 10px;
}


}

@media only screen and (min-width: 700px) {
  body {
    background-color: lightblue;
  }


html{
  background-color: white;
}
body{
  background-color: white;
}

.Jewelrynavigation{
  height:100%;
  width:160px;
  position:fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #0D9EDF;
  overflow-x: hidden;
  padding-top: 30px;
}

.Jewelrynavigation a {
padding: 6px 10px 6px 18px;
text-decoration: none;
font-size: 25px;
color:white;
display: block;
}

.Jewelrynavigation a:hover{
  color:#259B9A;
}

}





#images{
  display: flex;

}
