h1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 2em;
  text-align: center;
  color: #76323F
}

html{
  background-color: #f7bfa8;
}
body{
  background-color: #e09475;
}

#Jewelrynavigation{
  list-style-type: none;
}


#images{
  display: flex;

}

.earringsflat1{
  padding-bottom: 10px;
  position: relative;
  left: 30px;
}

.earringsround1{
  flex:1.3344;
  padding-bottom: 10px;
}
