html{
  font-family: 'Roboto', monospace, sans-sherif;
}

body{
  background-color: #D7CEC7
}
#indexheader{
  padding-top: 80px;
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 3em;
  text-align: center;
  color: #76323F
}

#p1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size:1em;
  text-align: center;
  color: black;
  padding-left: 35px;
  padding-right: 35px;

}

@media only screen and (min-width: 750px) {
	body{
  text-align: center;
	font-family:'Roboto', monospace, sans-sherif;
	background-color: #D7CEC7;

}

#indexheader{
  padding-top: 40px;
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 1.5em;
  text-align: center;
  color: #853443;
}

#p1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 0.5em;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
}

.ownerPic{
  height:200px;
  width:200px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column{
  flex:50%;
  padding: 0 4px;
}

.column img{
  margin-top: 8px;
  vertical-align: middle;
}
