html{
  font-family: 'Roboto', monospace, sans-sherif;
}

body{
  background-color: #D7CEC7
}
#indexheader{
  padding-top: 80px;
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 3em;
  text-align: center;
  color: #76323F
}

#p1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size:1em;
  text-align: center;
  color: black;
  padding-left: 35px;
  padding-right: 35px;

}

@media only screen and (min-width: 750px) {
	body{
  text-align: center;
	font-family:'Roboto', monospace, sans-sherif;
	background-color: #D7CEC7;

}

#indexheader{
  padding-top: 40px;
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 1.5em;
  text-align: center;
  color: #853443;
}

#p1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 0.5em;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
}

#ul1{
  list-style-type: none;
  list-style-type: none;
  text-decoration: none;
  display: block;
  width: 200px;

}
