html{
  font-family: 'Roboto', monospace, sans-sherif;
}

body{
  background-color: #D7CEC7
}
#indexheader{
  padding-top: 80px;
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 3em;
  text-align: center;
  color: #76323F
}

#p1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size:1em;
  text-align: center;
  color: black;
  padding-left: 35px;
  padding-right: 35px;

}

@media only screen and (min-width: 750px) {
	body{
  text-align: center;
	font-family:'Roboto', monospace, sans-sherif;
	background-color: #D7CEC7;

}

#indexheader{
  padding-top: 40px;
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 1.5em;
  text-align: center;
  color: #853443;
}

#p1{
  font-family: 'Roboto', monospace, sans-sherif;
  font-size: 0.5em;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
}



.images{
  display:grid;
  grid-gap:10px;
  grid-template-columns: 100px 50px 100px;
  background-color: #D7CEC7;
  padding-left: 75px;
  padding-right:75px;
}

.ownerpic{
  grid-column: 1/3;
  grid-row:1;
}

.pouch{
  grid-column: 3;
  grid-row:1/3;
}

.workstation{
  grid-column:1;
  grid-row:2;
}

.stairs{
  grid-column:2;
  grid-row:2;
}
